@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings

<nav class="navbar navbar-expand-md navbar-static ms-navbar ms-navbar-dark">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="ms-logo ms-logo-sm">GD</span>
                <span class="ms-title">
                    @AppSettings.Value.SiteTitlePrefix<strong>@AppSettings.Value.SiteTitlePostfix</strong>
                </span>
            </a>
        </div>
        <div id="ms-navbar" class="navbar-collapse collapse">
            <ul class="nav mr-auto navbar-nav">
                <li class="nav-item @((string)ViewData["Section"] == "Home" ? "active" : "")">
                    <a class="nav-link" href="/">
                        Projects
                        <div></div>
                    </a>
                </li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item @((string)ViewData["Section"] == "Notifications" ? "active" : "")">
                            <a class="nav-link" asp-controller="Notifications" asp-action="Index" style="position:relative;">
                                Notifications
                                <div></div>
                            </a>
                        </li>
                    }
                    if (User.IsInRole(AppConstants.ADMIN_ROLE_NAME))
                    {
                        <li class="nav-item @((string)ViewData["Section"] == "Admin" ? "active" : "")">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index" style="position:relative;">
                                Admin
                                <div></div>
                            </a>
                        </li>
                    }
                }
                <li class="nav-item @((string)ViewData["Section"] == "Privacy" ? "active" : "")">
                    <a class="nav-link" asp-controller="Home" asp-action="Privacy" style="position:relative;">
                        Legal Notice
                        <div></div>
                    </a>
                </li>
            </ul>
            <div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </div>
</nav>
